[user]
	name = Simon Newton
	email = nomis52@gmail.com
	signkey = 2AC133CA
[diff]
	tool = tkdiff
[difftool]
	prompt = false
[push]
	default = simple
[credential]
	helper = osxkeychain
[alias]
	ai = add --interactive
	ss = status -s
	co = checkout
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
